<header id="header" class="row-fluid" data-hook>
<div class="top-navigation">
	<div class="container row">	
	<div class="span12">
		<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
	</div>
</div>
</div>


<div class="container row">
  <figure id="logo" class="span3" data-hook><%= logo %></figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  
 </div>
</header>
