    
    <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><%= image_tag "ff_rev_slider_bkg_support2.jpg" %></div>
    <div class="item"><%= image_tag "ff_rev_slider_building_bkg3.jpg" %></div>
    <div class="item"><%= image_tag "ff_rev_slider_bkg_typo.png" %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>